.u-mrgn-top--0 {
  margin-top: 0;
}

.u-mrgn-top--xsmall {
  margin-top: var(--spacing-xsmall);
}

.u-mrgn-top--medium {
  margin-top: var(--spacing-medium);
}

.u-mrgn-right--small {
  margin-right: var(--spacing-small);
}

.u-pad-v--xlarge {
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xlarge);
}

.u-pad-h--xlarge {
  padding-left: var(--spacing-xlarge);
  padding-right: var(--spacing-xlarge);
}
