---
title: Cookies VS LocalStorage to Store Auth Token
description: Which is a better way to save authentication and authorizatio token on client side. It is using cookies or localstorage?
date: 2021-11-20
draft: true
permalink: false
tags:
  - Browser Storage
  - Security
  - JavaScript
layout: layouts/post.njk
---

<section>
  <h2>What is Authentication or Authorization Token?</h2>
</section>

<section>
  <h2>What is Cookies</h2>
</section>

<section>
  <h2>How to Store and Access Data in Cookies</h2>
</section>

<section>
  <h2>What is LocalStorage</h2>
</section>

<section>
  <h2>How to Store and Access Data in LocalStorage</h2>
</section>

<section>
  <h2>How can Unauthorized User Get Auth Token from LocalStorage?</h2>
</section>

<section>
  <h2>How can Unauthorized User Get Auth Token from Cookies?</h2>
</section>

<section>
  <h2>Conclusion</h2>
</section>

<section>
  <h2>Further Reading</h2>

  <ul>
    <li>
      <a
        href="https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html">HTML5 Security Cheat Sheet</a>
    </li>
  </ul>
</section>
