---
title: Understanding HTTP Cookies
description: Cookies is blablabla
date: 2021-11-08
tags:
  - Browser
layout: layouts/post.njk
---

<section>
  <h2>What is HTTP cookies?</h2>
</section>

<section>
  <h2>How HTTP cookies work?</h2>
</section>

<section>
  <h2>What are HTTP cookies use cases?</h2>
</section>

<section>
  <h2>How to make a secure HTTP cookies</h2>
</section>

<section>
  <h2>Regulation related to HTTP cookies and why?</h2>
</section>

<section>
  <h2>Further Reading</h2>

  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=rdVPflECed8">What Are Cookies? And How They Work | Explained for Beginners!</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=j0PpT96EFeg">Understanding Browser Cookies</a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=QWw7Wd2gUJk">How cookies can track you (Simply Explained)</a>
    </li>
    <li>
      <a href="https://www.kaspersky.com/resource-center/definitions/cookies">What are Cookies?</a>
    </li>
    <li>
      <a href="https://www.section.io/engineering-education/what-are-cookies-nodejs/">What are Cookies?</a>
    </li>
    <li>
      <a href="http://www.cse.msu.edu/~alexliu/publications/Cookie/cookie.pdf">A Secure Cookie Protocol</a>
    </li>
  </ul>
</section>
