<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#c73f29">
    <title>{{ title or metadata.title }} | Putu Harum Bawa</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="/img/thumbnail.png">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta name="twitter:image:alt" content="{{ title or metadata.title }}">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>
  </head>
  <body class="o-container o-container--medium o-page u-pad-v--xlarge u-pad-h--xlarge">
    <header class="c-header">
      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}

      <a
        href="https://harumbawa.com"
        class="c-header__image c-avatar c-avatar--small"
      >
        <picture>
          <source
            srcset="/img/harum_profile_picture.webp"
            type="image/webp"
          >
          <img
            src="/img/harum_profile_picture.jpg"
            alt="Harum Profile Picture"
            width="40" height="40"
          >
        </picture>
      </a>

      <nav id="main-nav" role="navigation" class="c-header__nav">
        <ul class="c-navigation">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="c-navigation__item{% if entry.url == page.url %}
            c-navigation__item--active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="u-mrgn-top--medium">
      <section class="u-align-center" id="copyright">
        <small>&copy; Copyright 2021, {{ metadata.author.name }}</small>
      </section>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
